.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.header{
  background-color: #00b8a9;
  color:#252a34;
}
.Table{
  margin-top: 25px;
  border: 1px solid #252a34 ;
}
